<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3.0.xsd">
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.snlab.unicorn.UnicornApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>Bootstrap</servlet-name>
        <servlet-class>org.snlab.unicorn.Bootstrap</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/experimental/v1/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>The value of adapter.type can be one of {odl, kytos, mock} now</description>
        <param-name>adapter.type</param-name>
        <param-value>sc18</param-value>
    </context-param>
    <context-param>
        <description>The node id of the switch attached to the DPI</description>
        <param-name>adapter.dpi</param-name>
        <param-value>openflow:1</param-value>
    </context-param>
    <context-param>
        <description>Base uri for controller restful api</description>
        <param-name>adapter.baseUri</param-name>
        <param-value>http://unicorn3:8181</param-value>
    </context-param>
    <context-param>
        <description>Authentication username for controller restful api</description>
        <param-name>adapter.auth.username</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <description>Authentication password for controller restful api</description>
        <param-name>adapter.auth.password</param-name>
        <param-value>admin</param-value>
    </context-param>
</web-app>
